<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        }
        .container {
            width: 100%;
            min-height: 100vh;
            padding: 5%;
            background-image: url('doordash.jpg');
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .search_bar {
            width: 100%;
            max-width: 700px;
            background: ;
            display: flex;
            align-items: center;
            border-radius: 60px;
            padding: 10px 20px;

        }
        .search_bar input {
            background-color: white;
             flex: 1;
             outline: none;
             border: 0;
             font-size: 13px;
        }
    </style>
</head>
<body>
    
</body>
</html>