<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        * {
            font-family: "Segoe UI", Helvetica, Arial, sans-serif;;
        }
        body {           
            background-size: 100% 100%;
            background-repeat: no-repeat; 
            background-attachment: scroll;
            background-position: center;
            background-image: url('https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=1200,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/hero/food/desktop_food.png');
             position: relative;
            height: 550px;
            font-size: 1vw;
        }
        .a {
            width: 100%;

        }
        .a button {
            float: right;
            margin: 0 5px;
        }
        a {
            text-decoration: none;
            color: white;
        }

        button {
            border: none;
            height: 2em;
            font-weight: 600;
            width: 9em;
            border-radius: 50px;
            font-size: 14px;

        }
        .a button:first-child {
            background-color: rgb(201, 4, 4);
            clear: right;

        }
        .a button:nth-child(2) {
            background-color: transparent;
        }
        .d {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;   
             display: flex;
            position: absolute;
            left: 35em;
            top: 15em;
          }
        h1 {
            font-size: 2em;
            font-weight: 800;
         }
         p {
            font-weight: 700;
            font-size: .9em;
            cursor: text;
         }
         .search_bar {
            width: 300px;
            height: 2.1em;
            border-radius: 60px;
             background-color: white;
             border: none;
         }
         
         .search_bar input {
             background-color: white;
             flex: 1;
             outline: none;
             border: 0;
            font-family: "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 13px;
            padding: 5px;
         }
         .responsive-width3 {
            font-size: 10px;
            color: white;
            height: 25px;
            background-color: transparent;
            width: auto;
            border: solid white 1px;
            border-radius: 60px;

         }
         .responsive-width3:hover {
            text-decoration: underline ;

         }
         .d button {
            position: absolute;
            top: 15em;
            left: 16em;
         }
         .e {
            padding: 3px 16em;
            background-color: white;
            position: absolute;
            top: 35em;
            width: 100%;
         }
         .ene {
            float: left;
            text-align: center;
            padding: 2.5em;
            width: 17%;
         }
         .eb {
            color: rgb(226, 7, 7);
         }
         .eri {
            padding: 3px 16em;
            background-color: rgb(247, 224, 228);
            position: absolute;
            top: 68em;
            width: 100%;

         }
         .jo {
            float: left;
            text-align: left;
            width: 30%;
            padding: 2em;
            margin-bottom: 0;
             }
         .jo button {
            background-color: rgb(224, 6, 6);     
         }
         .sh {
            padding: 3em 16em;
            background-color: white;
            position: absolute;
            top: 100em;
            width: 100%;

         }
         .sh::after{
            display: flex;
            content: "";
            clear: both;
         }
         .ua_1 {
            float: left;
            text-align: left;
            width: 30%;
            padding-right:10em;
         }
         .ua_2 {
            float: left;
            text-align: left;
            width: 30%;
            padding: 4em;
         }
         .ua_2 button {
            background-color: rgb(232, 6, 6)
         }
         .footer {
            background-color: rgb(51, 50, 50);
            color: white;
            width: 100%;
            position: absolute;
            top: 130em;
            padding: 3em 6em;
            
         }
         .foot {
            width: 100%;
         }
         .foot::after {
            display: table;
            content: "";
            clear: both;
         }
         .er {
            width: 50%;
            float: left;    
         }

         table {
            padding-left: 11em;
            align-items: left;
            border: none;
         }
        th {
            padding-top: 2em;
            padding-left: 2em;
            padding-right: 25em;
            padding-bottom: 7px;
            font-size: 14px;
            text-align: left;
         }
        td {
            font-size: 13px;
            padding-right: 1.5em;
            padding-bottom: 8px;
            padding-left: 2.5em;
            text-align: left;
            color: white;
        }
        .finito {
            padding-top: 3em;
            padding-left: 2em;
            padding-right: 0;
        }
        td a {
            color: white;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .kip_going {
            padding: 0;
            margin: 0 3em;
        }
        .kip_going td {
            padding: .5em;
        }
        @media screen and (max-width: 800px) {
            body  .e, .d, .a, .eri, .sh, .footer, .foot, .ua_1,.ua_2,.ene {
                max-width: 100%;
            }
        } 
    </style>
    
</body>
</html>